/*Fonts*/
/*font-family: 'Ribeye Marrow', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/

p, label, textarea {font-family: 'Quicksand', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Ribeye Marrow', cursive;}

.navi {margin-top: 2.5em;
  margin-bottom: 2.5em;}

.testimonial {margin-top: 1.5em;
  margin-bottom: 1.5em;}

.button {
  background-color: darkgray;
  color: #fefefe;
  }

.button:hover, .button:focus {
  background-color: gray;
  color: #fefefe;
  }

a {color: gray;}
a:hover {color: darkgray;}
a:visited {color: gray;}
a:active {color: lightgray;}
